body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h1 {
    color: purple;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid purple;
    color: purple;
    background-color: black;
}

button {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: darkviolet;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px;
    font-size: 18px;
}

.concluida {
    text-decoration: line-through; /* Risca as tarefas concluídas */
    opacity: 0.6; /* Diminui a opacidade para as concluídas */
}

